*{
       margin: 0;
       background-image: url(/img/backk.jpg);
       webkit-background-size: cover;
       moz-background-size: cover;
       background-size: cover;
       background-size: cover;
}