body {
       background-image: url(../img/ss.jpg);
       background-size: cover;
       background-repeat: no-repeat;



}

.initi {
       width: 100px;
       display: flex;
}

.my {
       
       height: 180px;

       text-align: right;
      
       border-radius: 50%;

}
h1{
       color: #111; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif; 
       font-size: 40px; 
       font-weight: bold; 
       
      
       color: white;
       margin-top: 0;
}

#about {
      
       width: 50%;
       color: white;
       height: 70%;
       clear: left;
       font-size: 25px;
       display: flex;
       align-items: center;
       justify-content: center;
      

}
p{
      display: flex;
      justify-content: center;
      align-items: center;
     padding: 10px;
       
}
.navOne{
       display: flex;
       background-color: cornsilk;
       justify-content: space-around;
       text-decoration: none;
       font-size: 20px;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       list-style: none;
       
       
       

}
nav a{
       text-decoration: none;
       width: 100%;
       margin: 0 auto;
   }