body {
       background-image: url(../img/ss.jpg);
       background-size: cover;
       background-repeat: no-repeat;



}

h1{
       display: flex;
	justify-content: center;
	align-items: center;
       font-size: 40px;
      color: tomato;
      width: 100%;
}
li{
       font-family: 'PT Serif', serif;
       font-size: 30px;
	width: 50%;
	color: white;
       
}
.initi{
       width: 100px;
}
article{
	width: 100%;
	display: flex;

	
	color: white;
	flex-direction: column;
}

.stu{
	width: 105px;
	 }
#hol{
	width: 100%;
	display: flex;
	justify-content: space-between;
	
	
}
.jot{

margin-left: 2px;

}
.jota{
b
display: inline-block;

}
.rr{
	display: inline-block;
	vertical-align: left;
	

}	
header{
	display: flex;
	align-content: space-around;
	color: white;
} 
.sociall{
	
      width: 60px;
      
}
.ord{
	display: flex;
	list-style: none;
	align-content: space-around;
}
h3{
	color: white;
}