*{
       background-image: url(/img/madera.jpg);
       font-family: 'PT Serif', serif;
}
h1{
       display: flex;
       justify-content: center;
       font-size: 50px;
       color: white;
}
li{
       font-family: 'PT Serif', serif;
       font-size: 30px;
       width: 50%;
       
}