body{
  background-image: url(/img/holaa.jpg);
  webkit-background-size: cover;
  moz-background-size: cover;
  background-size: cover;
  background-size: cover;
}
h1{
       color: #111; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif; 
       font-size: 110px; 
       font-weight: bold; 
       letter-spacing: -1px; 
       line-height: 1; text-align: center;
}
.face{
       width: 200px;
    height: 180px;
   
 text-align: right;
    overflow: hidden;
    border-radius: 50%;
    
}
article{
       
       
       float: right;
       
}
li{
       display: flex;
       display: inline-block;
       background-color: ivory;
       justify-content: space-around;
       font-family: 'Times New Roman', Times, serif;
       font-size: 18px;
       list-style: none;
       border: 2px solid black;
}
nav{
       background-color: brown;
       
}
nav a{
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
}